in:
  type: file
  path_prefix: <input_file>
  parser:
    charset: UTF-8
    newline: CRLF
    type: grok
    grok_pattern: "%{COMBINEDAPACHELOG}"
    grok_pattern_files:
<grok/grok_pattern_files:{file|
      - <file>
}>    timestamp_parser: sdf
    columns:
      - { name: clientip , type: string }
      - { name: ident , type: string }
      - { name: auth , type: string }
      - { name: timestamp , type: timestamp , format: "%d/%b/%Y:%T %z" }
      - { name: verb , type: string }
      - { name: request , type: string }
      - { name: httpversion , type: string }
      - { name: rawrequest , type: string }
      - { name: response , type: long }
      - { name: bytes , type: long }
      - { name: referrer , type: string }
      - { name: agent , type: string }
out:
  type: elasticsearch
  nodes:
    - {host: <elasticsearch/host>, port: <elasticsearch/port> }
  cluster_name: <elasticsearch/cluster_name>
  bulk_actions: 30000
  index: <index_name>
  index_type: apache.access